In [5]:
import pandas as pd
from pathlib import Path

In [6]:
DATA = Path.cwd() / "data" / "internal" / "2. SRI시민패널조사" / "2024년 3분기 패널조사" / "(공개용) 2024년 3분기 패널조사 데이터(가중치).xlsx"

In [8]:
# Read Excel file
df = pd.read_excel(DATA, sheet_name="data")

# Save to CSV with UTF-8 encoding
df.to_csv("survey_data.csv", encoding="utf-8-sig", index=False)

# Verify the output
print(df.head())
print(df.shape)  # Should return (1785, 89)

   ID  GU  resi_y  resi_m   q1   q2   q3  q3_1_1  q3_1_2  q3_1_3  ...  DM10  \
0   1   1     8.0     1.0  5.0  5.0  5.0     1.0     2.0     4.0  ...   1.0
1   2   1    40.0     0.0  5.0  6.0  3.0     NaN     NaN     NaN  ...   1.0
2   3   4    30.0     5.0  3.0  3.0  4.0     NaN     NaN     NaN  ...   1.0
3   4   1     7.0    11.0  3.0  5.0  4.0     NaN     NaN     NaN  ...   1.0
4   5   1     4.0    10.0  4.0  4.0  4.0     NaN     NaN     NaN  ...   2.0

   DM11  DM12  DM12_op  DM13  DM14  DM14_op DM15      wg      ws
0   1.0   3.0      NaN   8.0   1.0      NaN  1.0  267.21  0.4692
1   1.0   3.0      NaN   8.0   1.0      NaN  1.0  286.97  0.5039
2   1.0   4.0      NaN   5.0   1.0      NaN  1.0  216.81  0.3807
3   1.0   3.0      NaN   4.0   2.0      NaN  2.0  276.17  0.4849
4   NaN   4.0      NaN   6.0   4.0      NaN  1.0  198.29  0.3482

[5 rows x 88 columns]
(1784, 88)

In [ ]:
print(df.isna().sum().to_string())

ID               0
GU               0
resi_y           3
resi_m           4
q1               1
q2               1
q3               1
q3_1_1         778
q3_1_2         778
q3_1_3         778
q4               3
q5_1             3
q5_2             3
q5_3             3
q5_4             3
q5_5             3
q6               3
q6_op         1780
q7               3
q8               3
q9               3
q9_1           800
q9_2           800
q9_2_op       1783
q3_3_1         800
q3_3_2         800
q3_3_3         800
q3_3_4         800
q3_3_5         800
q3_3_6         800
q3_3_7         800
q3_3_8         800
q3_3_9         800
q3_3_10        800
q3_3_11        800
q3_3_12        800
q3_3_13        800
q3_3_14        800
q3_3_15        800
q3_3_16        800
q3_3_16_op    1780
q9_4           800
q9_5           800
q9_5_op       1783
q10            987
q10_op        1776
q11_1            3
q11_1_op      1784
q11_2            3
q11_2_op      1784
q12              4
q13              5
q13_1          849
q13_2          851
q14              5
q14_op        1775
q15              5
q15_op        1773
q16              5
q16_op        1779
q17              5
q17_op        1783
q18              5
q19              5
q20              5
q21_op        1491
DM1              0
DM2              0
DM3              5
DM4              5
DM5              6
DM6              5
DM7              7
DM8            958
DM9_1          958
DM9_2         1588
DM9_3         1768
DM9_4         1782
DM10             7
DM11           452
DM12             7
DM12_op       1745
DM13             7
DM14             7
DM14_op       1784
DM15             8
wg               0
ws               0